# GCP
GCP_PROJECT_ID=
GCP_REGION=us-central1
VERTEX_AI_LOCATION=us-central1
CLOUDSQL_INSTANCE=
DB_HOST=
DB_PORT=5432
DB_NAME=sbs_assistant
DB_USER=postgres
DB_PASSWORD=
GCS_BUCKET_DOCS=

# Modelos
GEMINI_FLASH_MODEL=gemini-2.5-flash
GEMINI_PRO_MODEL=gemini-2.5-pro
EMBEDDINGS_MODEL=text-embedding-005

# Document AI
DOCAI_PROCESSOR_LAYOUT_ID=
DOCAI_PROCESSOR_FORM_ID=

# App
APP_ENV=local
LOG_LEVEL=INFO
SERVICE_NAME=sbs-assistant
SBS_PDF_URL=https://www.sbs.gob.pe/portals/0/jer/pfrpv_normatividad/20160719_res-11356-2008.pdf
CORS_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
FIREBASE_AUTH_REQUIRED=false
FIREBASE_PROJECT_ID=sbs-assistant-unprg
